.logo{
    color: white;
    padding-left: 20px;
}

.border{
    text-align: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(23, 114, 189, 0.303);
    flex-direction:column;
    display: flex;
    width: 410px;
    size: fixed;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    border:rgb(252, 250, 250);
    border-width: 1px;
    border-style: solid;
    margin-top: 80px;
}
.input{
    width: 90%;
    height: 50px;
    color: rgb(7, 7, 7);
    background: white;
    font-size: 22px;
    border-radius: 10px;
    text-align: center; 
    border-color: white;
}
.info{
    color: rgb(244, 244, 249);
   
}
.temp{
    font-size: 45px;
    color: rgb(223, 197, 64);
}
.line{
    width: 350px;
}
.credit{
    color: white;
    font-size: 12px;
    margin-top: 25px;
    text-align: center;
}

@media (max-width:800px) {
    .logo{
        padding-left: 250px;
    }
}
@media (max-width:750px) {
   .logo{
        padding-left: 200px;
    }
}
@media (max-width:500px) {
   .logo{
        padding-left: 110px;
    }
}

